body {
	background: url(/public/img/bg.jpg);
	background-size: cover;
	padding: 0;
	border: 0;
	color: black;
	font-family: "微软雅黑", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
	background: url(/public/img/nav.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 130px;
	padding-left: 140px;
}

.navbar span {
	font-size: 50px;
	color: #5bb4f1;
}

.navbar li {
	margin-right: 55px;
	width: 60px;
	font-size: 13px;
}

.nav *{
	float: left;
}

.nav-item a {
	color: black;
}

.nav li a:hover, .nav li a:active, .nav li a:focus {
	background: inherit;
}

.nav li a span, .nav li a span, .nav li a span {
	padding-bottom: 5px;
}

.nav li a span:hover, .nav li a span:active, .nav li a span:focus {
	color: gray;
}

.nav>li>a {
	font-size: 13px;
	padding:inherit;
	color: black;
}

.description {
	padding-top: 50px;
}

.description > .desc-name {
	text-align: left;
}

.description > .desc-name {
	text-align: left;
}

.description > .desc-name {
	text-align: right;
}

.body {
	padding-top: 300px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.window-fetch {

}

.window-line {
	width: 100%;
  	height: 50px;
}

.window-dialog {
	position: relative;
	width: 400px;
  	margin: 30px auto;
}

.window-header, .window-footer {
  border: none;
  border-radius: 0;
}

.window-header {
  padding: 15px;
  border-bottom: 1px solid #BBB;
  min-height: 16.42857143px;
}

.window-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  position: relative;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;

}

.window-addon {
	background: gray;
	color: white;
}

.window-title {
	  margin: 0;
  line-height: 1.42857143;
}


.window-body {
	position: relative;
  	padding: 20px;
  	padding-bottom: 0px;
}

.window-footer {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}

.form-control {
  border: 0px solid transparent;
}

.body-right {
	right: 0;
	/* margin-right: 60px; */
	min-width: 400px;
	float: left;
}

.body-left {
	min-width: 370px;
	width: 370px;
	float: left;
	margin-right: 140px;
	margin-left: 20px;
}

.desc-title {
	font-size: 30px;
}

.window-success {
	text-align: center;
	height: 50px;
	line-height:50px;
}

.desc-title {
	font-size: 30px;
}

.window-tips {
	color: red;
	font-size: 13px;
}
.window-result {
	display: none;

	padding-top: 100px;
}


/* download_page */

.result-fetch {

}

.result-line {
	width: 100%;
  	height: 50px;
}

.result-dialog {
	position: relative;
	width: 700px;
  	margin: 30px auto;
}

.result-header, .result-footer {
  border: none;
  border-radius: 0;
}

.result-header {
  padding: 15px;
  min-height: 16.42857143px;
  float: left;
  border-right:1px solid #BBB;
  max-width: 220px;
}

.result-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  border: 1px solid transparent;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  width: 700px;
  height: 500px;
}

.result-addon {
	background: gray;
	color: white;
}

.result-title {
	margin: 0;
	text-align: center;
	line-height: 1.42857143;
	margin-bottom:100px; 
}


.result-body {
  position: relative;
  padding-left: 20px;
  padding-bottom: 0px;
  width: 455px;
  height: 450px;
  margin-top: 20px;
  float: left;
  max-width: 455px;
}

.result-body .form-group {
	  margin-right: 8px;
}

.result-footer {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}

.form-control {
  border: 0px solid transparent;
}

.result-discuss {
  border-bottom: 1px dashed #999;
  padding-top: 15px;
  margin-right: 10px;
}

.result-discuss p {
	margin-bottom: 0;
}



.result-input-group {
  position: absolute;
  display: table;
  border-collapse: separate;
  bottom: 0;
}

form.bs-component {
  overflow: auto;
  height: 380px;
}

.no-padding {
	padding: 0;
}

.btn-transparent {
	background: transparent;
	height: 50px;
}

.input-comment input.btn.btn-primary {
  height: 51px;
  width: 80px;
  border: 0;
  margin: 0;
  font-size: 16px;
}

.input-comment {
	width: 450px;
}

.input-comment .form-control {
	width: 355px;;
}

.result-title .file {
	font-size: 142px;
	color: #666;
	padding-bottom: 10px;
}

.text-date {
  font-size: 13px;
  color: #999;
  text-align: right;
}

.result-comments {
  overflow: auto;
  height: 380px;
}